/* common style */
* {
   margin: 0px;
   padding: 0px;
}

body {

   font-family: 'Lato', sans-serif;

   /* header or banner  style*/
   .header {
      width: 1400px;
      height: 550px;
      flex-shrink: 0;
      background-color: rgba(229, 84, 115, 0.10);
   }

   .banner {
      padding: 30px 30px 30px 0px;
      display: flex;
      align-items: center;

      flex-shrink: 0;
      justify-content: space-around;
   }

   .banner-content {
      width: 300px;
   }

   .banner-heading {
      color: #272727;
      font-size: 60px;
      font-weight: 1000;
      display: flex;
      width: 908px;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 30px;

   }

   .banner-pra {
      width: 450px;
      color: rgba(39, 39, 39, 0.60);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 30px;

   }

   .banner-btn {
      color: white;
      font-size: 17px;
      font-weight: 500;
      border: 0px;
      border-radius: 8px;
      background: #e55473;
      padding: 10px 20px;

   }


   .banner-image {
      width: 100%;
      height: 520px;


   }

   /*main body style*/

   /* section1 or our fretured image */
   .section1 {
      width: 1650px;
      height: 550px;
      margin: 120px 0px 0px -150px;
      text-align: center;
   }

   .s1-heading {
      color: #272727;
      font-size: 26px;
      font-weight: 1000;
      margin-bottom: 15px;
   }

   .s1-pra {
      color: rgba(39, 39, 39, 0.60);
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 50px;
   }

   .f-image {
      justify-content: center;
      display: flex;
      text-decoration: underline;
      font-size: 13px;
      font-weight: 200;
   }

   .f1-img {
      width: 300px;
      height: 339px;
      flex-shrink: 0;
      border-radius: 300px 300px 0px 0px;
      background: rgba(167, 33, 98, 0.15);
      margin: 0px 20px 0px 30px;
   }

   .f1 {
      width: 225px;
      height: 284px;
      flex-shrink: 0;
      margin-top: 55px;
   }

   .f2-img {
      width: 300px;
      height: 339px;
      flex-shrink: 0;
      border-radius: 300px 300px 0px 0px;
      background: rgba(5, 151, 160, 0.15);

      margin: 0px 20px 0px 0px;
   }

   .f2 {
      width: 225px;
      height: 284px;
      flex-shrink: 0;
      margin-top: 55px;
   }

   .f3-img {
      width: 300px;
      height: 339px;
      flex-shrink: 0;
      border-radius: 300px 300px 0px 0px;
      background: rgba(71, 125, 17, 0.15);

   }

   .f3 {
      width: 225px;
      height: 284px;
      flex-shrink: 0;
      margin-top: 55px;
   }

   /* section2*/
   .section2 {
      margin-top: 60px;
      width: 1440px;
      height: 320px;

   }

   .ser {
      width: 1000px;
      height: 290px;
      margin: 50px 50px 50px 180px;
      background: rgba(245, 9, 9, 0.05);
      flex-shrink: 0;
      display: flex;
      justify-content: center;
   }

   .s1-img {
      width: 300px;
      height: 339px;
      flex-shrink: 0;
      margin: 0px 15px 0px 30px;
      display: flex;
      flex-direction: column;
      font-size: 15px;
      align-items: center;
      text-align: center;
   }

   .s1 {
      width: 80px;
      height: 80px;
      margin-top: 90px;
   }

   .s2-img {
      width: 300px;
      height: 339px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      font-size: 15px;
      align-items: center;
      text-align: center;
      margin: 0px 15px 0px 0px;
   }

   .s2 {
      width: 80px;
      height: 80px;
      margin-top: 90px;
   }

   .s3-img {
      width: 300px;
      height: 339px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      font-size: 15px;
      align-items: center;
      text-align: center;
   }

   .s3 {
      width: 80px;
      height: 80px;
      margin-top: 90px;
   }

   /* section 3 */
   .section3 {
      width: 1400px;
      height: 550px;
      margin-top: 120px;
      flex-shrink: 0;
      background-color: rgba(229, 84, 115, 0.10);
   }

   .sec3 {
      margin-top: 50px;
      display: flex;
      justify: center;
      align-items: center;
   }

   .sec3-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: 130px;

   }

   .sec3-heading {
      color: #272727;
      font-size: 40px;
      font-weight: 800;


   }

   .sec3-pra {
      width: 450px;
      color: rgba(39, 39, 39, 0.60);
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 30px;

   }

   .sec3-img {
      margin: 90px 30px 90px 220px;
      width: 100px;
      height: 350px;

   }

   /*section4 or instagram*/

   .section4 {
      width: 1400px;
      height: 550px;
      margin-top: 60px;
      text-align: center;


   }

   .sec4-content {

      padding: 100px 200px 100px 200px;
      justify-content: center;

   }

   .s4-headin {
      color: #272727;
      font-size: 40px;
      font-weight: 1000;
   }

   .s4-pra {
      color: rgba(39, 39, 39, 0.60);
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 50px;
   }

   .s4-img {

      display: flex;
      justify-content: space-between;

   }

   .s4-1 {
      width: 200px;
      height: 230px;
   }

   .section5 {
      width: 1000px;
      height: 350px;
      background-image: url("Flower Asset/Rectangle\ 9.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;
      margin: 20px 90px 50px 200px;
   }

   .sec5-content {

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;

   }

   .sec5-con {
      display: flex;
   }

   .sec5-con input {
      margin-right: 10px;
      width: 450px;
      height: 50px;
      border-radius: 2px;
      background: #fff;
      border: none;
   }

   .sec5-heading {
      color: #272727;
      font-size: 40px;
      font-weight: 800;
      margin-top: 70px;

   }

   .sec5-pra {
      color: rgba(39, 39, 39, 0.60);
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 50px;

   }

   .sec5-img {
      width: 1400px;
      height: 550px;

   }